
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* SELECCIONADOS POR ETIQUETA */
body{
    font-family: prompt,sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
}
li{
    padding: 0.4rem;
    margin: 0 0 0 2rem;
}

/* SELECCIONADOS CON CLASES */

.header{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1rem;
    z-index: 100;
}

.header-nav{
    width: 98%;
    height: 3rem;
    background: #1a2456;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 10px rgba(0,0,0, 0.75);
}
.header-nav a{
    color:#efc2b3;
    text-transform: uppercase;
}
.logo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.logo img{
    margin-left:0.25rem;
}
.logo a {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-left: 0.5rem;
}

.header-nav a:hover {
   color: #c78f7d;
   transition: all 0.4s ease;

   
} 

.header .ul{
    display: flex;
    flex-flow: row wrap;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.header .logo{
    display: flex;
    flex-flow: row wrap;
}
.header i{
    font-size: 1.5rem;
    color: #efc2b3;
    margin: 0 1rem 0 2rem;
}

/* MAIN CONTAINER */

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 0px;
    max-width: 100%;
}

.main .main-container{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container-text{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 300vh;
    flex-direction: column;
    align-items: center;
}

.main-container-text .bg-image{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../assets/home-hero.jpg');
    background-color: rgba(0,0,0, 0.95);
    background-blend-mode: darken;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -22;
}


.main-container-texts{
    margin-top: 10rem;
    padding: 1rem;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    
}
.main-container-texts-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-container-text h1{
    color: #efc2b3;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4.5rem;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
}
.main-container-text small{
    font-size: 60%;

} 

.main-container-text p{
    color: #efc2b3;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;    
}

.main-container .main-container-buttons{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

.main-container-buttons a{
    border: none;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: rgb(33, 37, 41);
    border-radius: 2rem;
    width: 30%;
    background:#efc2b3;
    margin: 1rem;
}

/* Section-1 */

.section-1{
    background: #efc2b3;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1 .container-section-1{
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1 h2{
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 500;
    text-transform: uppercase;
}

.section-1 p{
    color: #1a2456;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;

}


/* SECTION 2  !! AQUI ES DONDE VA HACERSE EL EFECTO HALF*/

.section-2{
    width: 100%;
    max-width: 100%;
    background: #1a2456;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

.section-2 .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: 55;
}
.section-2 .right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

}

.section-2 .section-2-350vh{
    width: 100%;
    max-width: 100%;
    height: 350vh;
    display: flex;
    flex-direction: column;
}

.section-2 .section-2-400vh{
    width: 100%;
    max-width: 100%;
    height: 400vh;
    display: flex;
    flex-direction: column;
}


.left .container-section-2-one{
    width: 100%;
    height: 100vh;
    background: #1a2456;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}


.container-section-2-one img{
    width: 70%;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    
} 



.section-2 .container-section-2-two{
    width: 100%;
    height: 100vh;
    background: #FF8D6B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
} 

.container-section-2-two img{
    width: 70%;
    position: relative;
    left: -5px;
    top: 0;
    padding: 0;
    margin: 0;

} 

.right .container-section-2-three{
    width: 100%;
    height: 100vh;
    background: #EFC2B3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.right .text-container-three{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.container-section-2-three h3{
    font-size: 2.5rem;
    color: #1a2456;
    font-weight: 500;
    text-transform: uppercase;
}
.container-section-2-three p{
    font-size: 1.1rem;
    color: #1a2456;
    font-weight: 300;
    line-height: 2rem;

}

.right .container-section-2-four{
    width: 100%;
    height: 100vh;
    background: #5A7F71;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}


.container-section-2-four img{
    width: 70%;
    height: 100%;
    position: relative;
    left: -5px;
    top: 0;
    padding: 0;
    margin: 0;
} 


.left .container-section-2-five{
    width: 100%;
    height: 100vh;
    background: #efc2b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.left .text-container-five{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    
} 

.container-section-2-five h3{
    width: 70%;
    font-size: 2.5rem;
    color: #1a2456;
    font-weight: 500;
    text-transform: uppercase;

}
.container-section-2-five p{
    font-size: 1.1rem;
    color: #1a2456;
    font-weight: 300;
    line-height: 2rem;

}


.left .container-section-2-six{
    width: 100%;
    height: 100vh;
    background: #FF8D6B;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}


.container-section-2-six img{
    width: 70%;
    height: 100%;
    position: relative;
    right: 0px;
    top: 0;
    padding: 0;
    margin: 0;
} 

.right .container-section-2-seven{
    width: 100%;
    height: 100vh;
    background: #EFC2B3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.right .text-container-seven{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    padding: 0;
    margin: 0;
} 

.container-section-2-seven h3{
    width: 70%;
    font-size: 2.5rem;
    color: #1a2456;
    font-weight: 500;
    text-transform: uppercase;

}
.container-section-2-seven p{
    font-size: 1.1rem;
    color: #1a2456;
    font-weight: 300;
    line-height: 2rem;

}



.right .container-section-2-eight{
    width: 100%;
    height: 100vh;
    background: #F5B335;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}



.container-section-2-eight img{
    width: 70%;
    height: 100%;
    position: relative;
    left: -5px;
    top: 0;
    padding: 0;
    margin: 0;
} 

.left .container-section-2-nine{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: #EFC2B3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}


.left .text-container-nine{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-bottom: 0;
    
} 
.container-section-2-nine h3{
    width: 70%;
    font-size: 2.5rem;
    color: #1a2456;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;

}
.container-section-2-nine p{
    font-size: 1.1rem;
    color: #1a2456;
    font-weight: 300;
    line-height: 2rem;
}


.left .container-section-2-ten{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: #5A7F71;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}


.container-section-2-ten img{
    width: 70%;
    height: 100%;
    position: relative;
    right: 0px;
    top: 0;
    padding: 0;
    margin: 0;
} 


/* SECTION 3 */


.section-3 {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#1a2456;
    /* overflow-x: hidden; */

}



.section-3 .container-section-3-one{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3 .section-3-one-container{
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    overflow-y: hidden;
    
}


.container-section-3-one h3{
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin: 0;
    position: relative;
}

.container-section-3-one p{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #efc2b3;
    padding: 0;
    margin: 0;
    position: relative;

}


/*  SECTION 3 P2 */

.section-3 .container-section-3-two{
    width: 100%;
    max-width: 100%;
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3 .section-3-two-left{
    width: 50%;
    height: 100%;
}


.container-section-3-two-img{
    width: 100%;
    background: #1a2456;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    top: 15rem;
}

.container-section-3-two-img img{
    width: 25%;
    height: 25%;
    margin-right: 5rem;
    
}

.container-section-3-two-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}
.two-text-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 2rem;
    bottom: 5rem;
    opacity: 1;
}

.container-section-3-two-text h3{
    color: #fff;
    font-size: 1.75rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.container-section-3-two-text p{
    color: #efc2b3;
    font-size: 1.25rem;
    font-weight: 300;
}

.container-section-3-three{
    display: flex;
    width: 100%;
    height: 170vh;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}
.container-section-3-three-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
}
.container-section-3-three-text .three-text-container{
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.container-section-3-three-text h3{
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.container-section-3-three-text p{
    color: #EFC2B3;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;    
}
.container-section-3-three-text span{
    font-weight: 700;
}

.container-section-3-three-text .three-smaller{
    color: #efc2b3;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;    

}

.container-section-3-three-img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.container-section-3-three-img .three-img{
    width: 60%;
    height: 60vh;
    position: sticky;
    top: 10rem;
    margin-left: 5rem;
}

.container-section-3-three-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0;
    margin: 0;
}

.container-section-3-four{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.container-section-3-four-img {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    position: sticky;
    top: 5rem;
}

.container-section-3-four-img .four-img{
    width: 50%;
    left: 1rem;
    position: relative;
    transform: rotate(90deg);
}

.container-section-3-four-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.container-section-3-four-text .four-text{
    width: 65%;
    position: relative;
    left: 2rem;
    bottom: 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.container-section-3-four-text h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.container-section-3-four-text p{
    color: #EFC2B3;
    line-height: 1.75rem;
    font-size: 1.25rem;
    font-weight: 300;
}

.container-section-3-four-text .four-smaller{
    color: #EFC2B3;
    margin-top: 0;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 300;
}

.container-section-3-four-text span{
    font-weight: 700;
}

.container-section-3-five {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.container-section-3-five-img{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 10rem;
}
.container-section-3-five-img img{
    width: 60%;
    position: relative;
    left: 5rem;
}


.container-section-3-five-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

}

.container-section-3-five-text .five-container{
    width: 55%;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 1rem;
    bottom: 15rem;
}

.container-section-3-five-text h3{
    color: #fff;
    font-size:1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin:0;
}

.container-section-3-five-text p{
    color: #EFC2B3;
    font-size:1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.container-section-3-five-text .five-smaller{
    color: #EFC2B3;
    font-size:1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.container-section-3-five-text span{
    font-weight: 700;
}

.container-section-3-six{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
}
.container-section-3-six-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.container-section-3-six-text .six-container{
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 1rem;
    bottom: 6rem;
}

.six-container h3{
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
}

.six-container p{
    color: #efc2b3;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 300;
}

.six-container .smaller{
    color: #efc2b3;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin: 0;
}

.container-section-3-six-img{
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    top: 10rem;
    margin-bottom: 5rem;
}

.container-section-3-six img{
    width: 50%;
    transform: rotate(90deg);

}


/* 5 IMAGENES QUE SE UNEN EN MEDIO */

.container-section-3-seven{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border: 2px solid red;
}

.container-section-3-seven .section-3-observed{
    width: 10vw;
    height: 150vh;
    border: 5px solid black;
    background: rgba(255, 255,255, 0.15);
    position: absolute;
    

}


.container-section-3-seven-img{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px solid skyblue;
    position: sticky;
    top: 0;
    overflow: hidden;
}


.container-section-3-seven .container-s3-wrapper{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid skyblue;

}

.container-section-3-seven .s3-parts-container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid yellow;
    z-index: 3;
    background: #1a2456;
    position: relative;
    top: 30vh;
}

.container-section-3-seven-img .seven-left-20{
    width: 20%;
    height: 50vh;
    border: 2px solid yellow;
    position: relative;
    right: -10px;
}
.container-section-3-seven-img .seven-left-10{
    width: 10%;
    height: 50vh;
    border: 2px solid yellow;
    position: relative;
    z-index: 3;

}
.container-section-3-seven-img .seven-mid-20{
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    position: relative;
    left: -10px;
    z-index: 2;

}
.container-section-3-seven-img .seven-right-20{
    width: 20%;
    height: 50vh;
    border: 2px solid yellow;
    position: relative;
    left: -20px;
}

.container-section-3-seven-img img{
    width: 100%;
    
}

.container-section-3-seven-text{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-section-3-seven-text .seven-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-section-3-seven-text h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.container-section-3-seven-text p{
    color: #efc2b3;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
}

.container-section-3-seven-text button{
    color: rgb(33, 37, 41);
    background: #efc2b3;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 0.7rem 2.5rem;
    line-height: 1.8rem;
    border-radius: 50rem;
    cursor: pointer;
    border: none;

}


/* SECCION 4 */

.section-4{
    width: 100%;
    max-width: 100%;
    min-height: 120vh;
    background: #efc2b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.section-4 .container-section-4-texts{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    align-self: center;
}

.container-section-4-texts h2{
    color: #1a2456;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.container-section-4-texts p{
    color: #1a2456;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
    
}

.slider-wrapper{
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

.section-4 .container-section-4-slider{
    width: 400%;
    height: 65vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin-left: -52vw;
}


.section-4-one{
    width: 66vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/mono-poster-4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-4-two{
    width: 66vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/mono-poster-3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.section-4-three{
    width: 66vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/mono-poster-5.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.section-4-four{
    width: 66vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/mono-poster-2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.container-section-4-one .section-4-one-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255,255,255, 0.85);
    width: 85%;
    height: 60%;
    padding: 2rem;
}

.section-4-one-content h3{
    font-size: 1.55rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: #1a2456;
    text-transform: uppercase;
}
.section-4-one-content p{
    font-size: 1.15rem;
    font-weight: 300;
    color: #1a2456;
    text-align: center;
}

.section-4-one-content button{
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
    background: #1a2456;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

.section-4 .previous-button{
    width: 70px;
    height: 50px;
    background: rgba(255,255,255, 0.25);
    color: #1a2456; 
    font-size: 2rem; 
    font-weight: 700;
    text-align: center;  
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
}
.section-4 .previous-button:hover{
    background: rgba(255,255,255, 0.75); 
    transition: all 0.4s ease;

}

.section-4 .next-button{
    width: 70px;
    height: 50px;
    background: rgba(255,255,255, 0.25);
    color: #1a2456; 
    font-size: 2rem;
    text-align: center;  
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:14.5%;

}
.section-4 .next-button:hover{
    background: rgba(255,255,255, 0.75); 
    transition: all 0.4s ease;

}


.section-5{
    width: 100%;
    max-width: 100%;
    height: 350vh;
    background: #1a2456;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}


.section-5-100vh{
    width: 100%;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.section-5-sticky{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 20vh;
}

.section-5 .container-section-5-texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-5 .container-section-5-tools{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
}

.section-5 .container-section-5-overflow{
    width: 11%;
    height: 50vh;
    position: absolute;
    align-self: center;
    top: 0;
    overflow: hidden;
}


.container-section-5-tools .tools-container-5{
    width: 18%;
    align-self: center;
    position: relative;
    bottom: -25vh;
}

.container-section-5-tools #id-lorem{
    width: 98vw;
    position: relative;
    align-self: flex-end;
    top: 30vh;
    left: 1.5vw;
    display: flex;
    gap: 5rem;
}

#id-lorem img{
    width: 125px;
    height: 125px;
    object-fit: cover;
}
#id-lorem :nth-child(8){
    border-radius: 50%;
}


.tools-container{
    width: 150px;
    height: 150vh;
    position: relative;
    top: 28.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7rem;
}

.container-section-5-tools .icon-tool{
    width:  8rem;
    height: 8rem;
    bottom: 5vh;
    opacity: 0;
}

.section-5 h2{
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #efc2b3;
    letter-spacing: 2px;
}

.section-5 p{
    font-size: 1.5rem;
    font-weight: 300;
    color: #efc2b3;
    text-align: center;
    
}

/* SECTION 6 */

.section-6{
    width: 100%;
    height: 300vh;
    max-width: 100%;

}

.section-6-content{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.overflow-layer-1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right:0;
}
.overflow-layer{
    width: 1%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left:0;
}
.section-6 .container-section-6-layer{
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container-section-6-layer .container-section-6-hero{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.section-6 .section-6-100-vh{
    width: 100%;
    height: 100vh;
    position: relative;
}

.section-6 .container-section-6-img{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    z-index: 55;
}

.section-6 .container-section-6-text{
    width: 45%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
    bottom: 50vh;
}

.container-section-6-text .section-6-logo{
    width: 50%;
    height: 40vh;
}

.container-section-6-text p{
    font-size: 1rem;
    text-align: center;
    color: #efc2b3;
    font-weight: 300;
    margin-bottom: 1rem;
}

.container-section-6-text button{
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    color: #212529;
    background: #efc2b3;
    border: none;
    border-radius: 50rem;
    padding: 1rem 3rem;
}


.container-section-6-text button:hover{
    background: #c78f7d;
}

/* S7 */
.section-7{
    width: 100%;
    background: #efc2b3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;

}

.section-7 .section-7-slider{
    width: 400vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: -100vw;
}

.section-7 .section-7-slider-title{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section-7-slider-title .title-wrapper{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-7-slider-title h2{
    color: #1a2456;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.95rem;
    line-height: 2.25rem;
    font-weight: 600;
}

.section-7-slider .container-section-7-one{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}

.section-7-slider .container-section-7-one img{
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.section-7-slider .slider-text-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.section-7-slider .slider-text-content :nth-child(1){
    font-size: 1.75rem;
    line-height: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1a2456;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.section-7-slider div :nth-child(2){
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5A7F71;
    font-weight: 300;
    text-align: center;
}


.section-7 .next-button-two{
    width: 70px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 90vw;
    background: rgba(255,255,255, 0.15);
    border: 2px solid gray;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-7 .next-button-two:hover{
    background: rgba(255,255,255, 0.5);
    transition: all 0.4s ease;

}

.section-7 .previous-button-two{
    width: 75px;
    height: 50px;
    position: absolute;
    top: 50%;
    left:5vw;
    background: rgba(255, 255,255, 0.15);
    border: 2px solid gray;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-7 .previous-button-two:hover{
    background: rgba(255,255,255, 0.5);
    transition: all 0.4s ease;

}

.section-8{
    width: 100%;
    background: #efc2b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-8 .section-8-title{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-8-title h2{
    font-size: 1.85rem;
    text-transform: uppercase;
    color: #1a2456;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 0.5rem;
}


.section-8 .container-section-8-brands{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 5rem;
}

.container-section-8-brands a{
    width: 32.5%;
    height: 30vh;
    padding: 0;
    margin: 0;
}


.container-section-8-brands img{
    width: 100%;
    height: 30vh;
    padding: 0;
    margin: 0;
}

.container-section-8-brands :nth-child(7){
    width: 50%;
    height: 40vh;
    padding: 0;
    margin: 0;
}

.container-section-8-brands :nth-child(7) img{
    width: 100%;
    height: 40vh;
    padding: 0;
    margin: 0;
}

.container-section-8-brands :nth-child(8){
    width: 48.5%;
    height: 40vh;
    padding: 0;
    margin: 0;
}
.container-section-8-brands :nth-child(8) img{
    width: 100%;
    height: 40vh;
    padding: 0;
    margin: 0;
}

.section-8 .container-section-8-console{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: 0;
    left: 0;
}
.container-section-8-console .section-8-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container-section-8-console img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container-section-8-console .container-section-8-texts{
    width: 40%;
    height: 40vh;
    position: absolute;
    top: 50%;
    padding:  0 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.container-section-8-texts h3{
    font-size: 1.85rem;
    letter-spacing: 2px;
    color: #1a2456;
    font-weight: 600;
    text-transform: uppercase;
}

.container-section-8-texts p{
    font-size: 1.1rem;
    color: #1a2456;
    font-weight: 300;
}


.container-section-8-texts button{
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    line-height: 0.8rem;
    border: none;
    border-radius: 50rem;
    padding: 1rem 2.5rem;
    color: #fff;
    background: #1a2456;
    font-weight: 700;
    margin-top: 1rem;
}


.container-section-8-texts button:hover{
    background: #0d153a;
    transition: all 0.4s ease;

}


/* FOOTER */

footer{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background: #1a2456;
}

footer .footer-container{
    width: 75%;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}

footer .footer-monogram{
    width: 120px;
    display:flex;
    margin-right: 5rem;
    flex-direction: column;
    justify-content: center;
}

.footer-monogram p{
    font-size: 0.9rem;
    color: #efc2b3;
    font-weight: 300;
}

footer .footer-quick-links{
    width: 120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5rem;

}

footer .footer-help{
    width: 120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5rem;

}

footer h4{
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #efc2b3;
    font-weight: 600;
    margin-bottom: 1rem;
}
footer a{
    font-size: 0.9rem;
    color: #efc2b3;
    font-weight: 300;
}
footer a:hover{
    font-size: 0.9rem;
    color: #c78f7d;
    text-decoration: underline;
    font-weight: 300;
    transition: all 0.4s ease;

}

footer .footer-information{
    width: 120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5rem;

}

footer .footer-suscribe{
    width: 370px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.footer-suscribe h4{
    font-size: 0.6rem;
    letter-spacing: 1.2px;
    color: #efc2b3;
}

.footer-suscribe p{
    font-size: 0.85rem;
    color: #efc2b3;
    font-weight: 300;
}

.footer-suscribe .footer-suscribe-form{
    display: flex;
    width: 100%;
    
}

.footer-suscribe-form .input-text{
    width: 50%;
    height: 30px;
    margin-top: 0.5rem;
    border: 1px solid #efc2b3;
    color: #fff;
    background: none;
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
    font-weight: 300;
}

.footer-suscribe-form .input-submit{
    width: 27%;
    height: 30px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid #efc2b3;
    border-radius: 50rem;
    color: #1a2456;
    background: #efc2b3;
    padding: 0.1rem 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 0.5rem;
    cursor: pointer;
}


.footer-suscribe-form .input-submit:hover{
   opacity: 1;
   transition: all 0.4s ease;

}

footer .footer-contact-me{
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
}

.footer-contact-me h3{
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #efc2b3;
}

.footer-suscribe .footer-suscribe-icons{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

}

.footer-suscribe-icons i{
    font-size: 1rem;
    text-align: center;
    width: 45px;
    height: 40px;
    color: #1a2456;
    background: #efc2b3;
    padding: 0.75rem;
    border-radius: 50%;
}

.footer-suscribe-icons i:hover{
    background: #c78f7d;
    transition: all 0.4s ease;
    opacity: 0.8;
}



/* AQUI VIENEN TODAS LAS CLASES QUE SE AGREGAN POR JS */
